.Heading{
    justify-items: center;
    background-image: url("bg.jpg");
    background-color: #cccccc;
    color: darkgreen;
}

.Body{
    background-image: url("bg2.jpg");
    background-color: #cccccc;
    color: darkgreen;
}
.image{
    border: black;
    border-style: solid;
    /* border-width: 1cm; */
    /* //border-right: 0cm; */
}
.text{
    border: black;
    border-style: solid;
    border-width: 0.2cm;
}
.img{
    background-color: darkorange;
}
